<!DOCTYPE html>
<html>
<body>

<p>choose image file</p>

<form action="/result" method="POST"  enctype="multipart/form-data" >
  <input type="file"   name="filename1" accept="image/*;capture=camera"><br><br>
  <input type="text"  name="name" value="enter the name of person 1"><br><br>
<input type="submit"  name = "submit_button" value="add_to_database"> <input type="submit" name="submit_button" value="check_in_database">
<input type="submit" name="submit_button" value="delete_from_database">	</form>
<a href="/names">View names in database</a>
</body>
</html>
